{% extends "layout.html.twig" %}

{% block style %}
{{parent()}}
	<link rel="stylesheet" href="styles/app.css">
{% endblock %}
{% block titrePage %}
	<title>Page d'Accueil
	</title>
{% endblock %}

{% block contenuPage %}

	<h1 class="red">Bienvenue 
	
		!</h1>

	<p>fghjk</p>


{%  endblock %}
