{% extends "layout.html.twig" %}
{% block main %}
	<h1>
		Page de contact
	</h1>
	<form method="POST" action="/todos/traitement">
		
		<textarea name="nom">Entrez le nom de la liste</textarea>
		<button class="button">
			Ajouter la liste des taches
		</button>
		  <ul>
        {% if taches|length == 0 %}
            <li>{{ tache.nom }}</li>
        {% else %}
            <li>Aucune tâche trouvée</li>
        {% endif %}
    </ul>
	</form>

	{# <form action="/todos/traitement" method="POST">
	<input type="text" name="nom" placeholder={{tache.nom}}>
		<button class="button">Terminée </button>	
	</form> #}
{% endblock %}